<span class='ld-phonenumber'>
    {# If the calltag is set, show the calltag #}
    {% if calltag %}
        Call {{ location.location }} on
    {% endif %}

    <a onClick='gtag("event" , "Click" , { "event_category" : "Phone Number", "event_label" : "Click Phone Number {{ number.location_label }} {{ pageTitle }}" });' href="tel:{{ number }}" class="">{{ number }}</a>  

</span>
